<div class="jumbotron mt4">
    <h1 class="display-4">Notes app Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci dolorem maiores, consectetur ratione officia velit, at odit iste tempore numquam sapiente quidem natus error animi aspernatur dolor voluptate ipsam reprehenderit!</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, iure voluptates. Omnis itaque deleniti iusto delectus nihil ratione nesciunt quae?</p>
    <a href="https://www.youtube.com/watch?v=HgzGwKwLmgM" target="_blank" class="btn btn-primary">Don't</a>
</div>